SECRET_KEY="django-insecure-*_-lc(3j885_0-_6jn9vxs8jzpl4c$l@3yzs)93^@9ly%nr6wu"
DEBUG=True
FIELD_ENCRYPTION_KEY='bXBVGxwjqj1nObNmf-pVFCFlzuN9No7nAFiGPyE2gfI='

DEBUG=True
DJANGO_LOGLEVEL=info
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=tbs_db
DATABASE_USERNAME=tbs_admin_user
DATABASE_PASSWORD=tbs_user_password
DATABASE_HOST=db
DATABASE_PORT=5432

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_HOST_USER=e2c2ccd1cdbe99
EMAIL_HOST_PASSWORD=ba3fe9305a182d
EMAIL_PORT=2525

CSRF_TRUSTED_ORIGINS=http://localhost:80,http://localhost,http://127.0.0.1:80,http://127.0.0.1

DJANGO_SETTINGS_MODULE=ticket_system_project.settings.dev

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
