<!-- Reservation Loader -->
<div id="loader" class="bs-loader reservation-loader d-none">
    <div class="jumping-dots">
        <span style="--delay: 0s;"></span>
        <span style="--delay: 0.1s;"></span>
        <span style="--delay: 0.2s;"></span>
        <span style="--delay: 0.3s;"></span>
        <span style="--delay: 0.4s;"></span>
    </div>
    <div class="loading-text bg-custom text-dark py-2 px-5 rounded d-flex justify-content-center align-items-center">
        <h5 class="m-0">Reserving</h5>
        <div class="spinner-border spinner-border-sm ms-2" role="status">
        </div>
    </div>
</div>
