{% extends 'authentication/base.html' %}
{% block title %}Password Reset Page{% endblock %}
{% block reset-password %}
<div class="container-fluid mt-2 bg-dark d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card bg-dark text-white border border-white text-center text-white mt-2 mb-4 " style="width: 650px;;">
                <h5 class="text-center mt-3">RESET YOUR PASSWORD</h5>
                <hr>
                <div class="card-body shadow p-5">
                    <form method="POST"
                        class="reset-password-form needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="col-12">
                            <input class="form-control mb-3" type="password" placeholder="Password" name="password"
                                id="password" required />
                        </div>
                        <!--  -->
                        <div class="col-12">
                            <input class="form-control mb-3" type="password" placeholder="Re-Enter Password" name="password1" id="password1" required />
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">RESET PASSWORD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        'use strict';

        var forms = document.querySelectorAll('.needs-validation');

        Array.from(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    })();
    function handleMessages() {
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: "{{ message|safe }}",
        });
        {% elif message.tags == 'error' %}
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: "{{ message|safe }}",
        });
        {% endif %}
        {% endfor %}
        {% endif %}
    }

    // Call the function to handle messages when the document is ready
    document.addEventListener("DOMContentLoaded", function () {
        handleMessages();
    });

</script>

{% endblock %}