<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="{% static 'core/images/lets-explore-logo.png' %}">

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Icon CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'core/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/card-style.css' %}">

    <!-- BUS Style -->
    <link rel="stylesheet" href="{% static 'bus/css/bus-style.css' %}">

    <!-- Train Style -->
    <link rel="stylesheet" href="{% static 'train/css/train-style.css' %}">

    <!-- Flight Style -->
    <link rel="stylesheet" href="{% static 'flight/css/flight-style.css' %}">

    <!-- Support Admin Style -->
    <link rel="stylesheet" href="{% static 'administration/css/support-style.css' %}">

    <!-- Admin DashBoard CSS -->
    <link rel="stylesheet" href="{% static 'administration/css/admin-style.css' %}">

    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- Custom Bootstrap File -->
    <link rel="stylesheet" href="{% static 'custom-tools/tbs-custom-tools.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body style="min-height: 100vh;">
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            {% block side-bar %}
            <div class="col-2 p-0">
                <div class="bg-dark side-bar text-white p-1" style="height: 100vh; overflow-y: auto;">
                    <!-- Toggle button for the sidebar -->
                    <button class=" btn text-whitebtn-light d-lg-none" data-bs-toggle="collapse"
                    data-bs-target="#sidebarCollapse">
                    <i class="fa-solid fa-bars-staggered fa-lg"></i>
                    </button>

                    <!-- Sidebar content within a collapse div -->
                    <div class="collapse show" id="sidebarCollapse">
                        <a href="{% url 'administration:administration-home' %}" class=" pe-3 mb-1 link-light text-decoration-none">
                            <img src="{% static 'core/images/lets-explore-logo.png' %}" class="img-fluid img"
                                width="45">
                            <span class="fs-5 fw-semibold">LET's EXPLORE</span>
                        </a>
                        <p class="border-bottom mb-2 p-0 m-0"></p>
                        <ul class="list-unstyled">
                            <li class="active">
                                <a href="{% url 'administration:administration-home' %}" class="btn text-white">
                                    <i class="fa-solid fa-home me-3"></i>
                                    <span class="menu-text">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#ticket-collapse"
                                    class="btn-toggle btn text-white align-items-center collapsed"
                                    data-bs-toggle="collapse" aria-expanded="false">
                                    <i class="fa-solid fa-route me-3"></i>
                                    <span class="menu-text">Tickets</span>
                                </a>
                                <div class="collapse" id="ticket-collapse">
                                    <ul class="btn-toggle-nav list-unstyled small" style="padding-left: 5%;">
                                        <li>
                                            <a href="{% url 'administration:bus-index' %}" class="btn text-white"><i
                                                    class="fas fa-bus me-2"></i><span class="menu-text">Bus</span></a>
                                        </li>
                                        <li>
                                            <a href="{% url 'administration:flight-index' %}" class="btn text-white"><i
                                                    class="fas fa-plane me-2"></i><span
                                                    class="menu-text">Flight</span></a>
                                        </li>
                                        <li>
                                            <a href="{% url 'administration:train-index' %}" class="btn text-white"><i
                                                    class="fas fa-train me-2"></i><span class="menu-text">Train</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#booking-collapse"
                                    class="btn-toggle btn text-white align-items-center collapsed"
                                    data-bs-toggle="collapse" aria-expanded="false">
                                    <i class="fa-solid fa-ticket me-3"></i>
                                    <span class="menu-text">Bookings</span>
                                </a>
                                <div class="collapse" id="booking-collapse">
                                    <ul class="btn-toggle-nav list-unstyled small" style="padding-left: 5%;">
                                        <li>
                                            <a href="{% url 'administration:bus-history' %}" class="btn text-white"><i
                                                    class="fas fa-bus me-2"></i><span class="menu-text">Bus</span></a>
                                        </li>
                                        <li>
                                            <a href="{% url 'administration:flight-history' %}" class="btn text-white"><i
                                                    class="fas fa-plane me-2"></i><span
                                                    class="menu-text">Flight</span></a>
                                        </li>
                                        <li>
                                            <a href="{% url 'administration:train-history' %}" class="btn text-white"><i
                                                    class="fas fa-train me-2"></i><span class="menu-text">Train</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'support:support-admin' %}" class="btn text-white">
                                    <i class="fa-solid fa-headset me-3"></i>
                                    <span class="menu-text">Support</span>
                                </a>
                            </li>
                            <li>
                                <a href="#travel-history" class="btn-toggle btn text-white align-items-center collapsed"
                                    data-bs-toggle="collapse" aria-expanded="false">
                                    <i class="fa-solid fa-clock-rotate-left me-3"></i>
                                    <span class="menu-text">Travels History</span>
                                </a>
                                <div class="collapse" id="travel-history">
                                    <ul class="btn-toggle-nav list-unstyled small" style="padding-left: 5%;">
                                        <li>
                                            <a href="{% url 'administration:admin-bus-travel-history' %}" class="btn text-white"><i
                                                    class="fas fa-bus me-2"></i><span class="menu-text">Bus</span></a>
                                        </li>
                                        <li>
                                            <a href="{% url 'administration:admin-flight-travel-history' %}" class="btn text-white"><i
                                                    class="fas fa-plane me-2"></i><span
                                                    class="menu-text">Flight</span></a>
                                        </li>
                                        <li>
                                            <a href="{% url 'administration:admin-train-travel-history' %}" class="btn text-white"><i
                                                    class="fas fa-train me-2"></i><span class="menu-text">Train</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#profile-collapse"
                                    class="btn text-white btn-toggle align-items-center collapsed"
                                    data-bs-toggle="collapse" aria-expanded="false">
                                    <i class="fa-solid fa-user me-3"></i>
                                    <span class="menu-text text-capitalize">{{ request.user }}</span>
                                </a>
                                <div class="collapse" id="profile-collapse">
                                    <ul class="btn-toggle-nav list-unstyled small" style="padding-left: 5%;">
                                        <li>
                                            <a href="{% url 'auth:admin_profile' %}" class="btn text-white"><i
                                                    class="fa-solid fa-gear me-2"></i><span
                                                    class="menu-text">Profile</span></a>
                                        </li>
                                        {% if user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'auth:logout' %}" class="btn text-white"><i
                                                    class="fa-solid fa-arrow-right-from-bracket me-2"></i><span
                                                    class="menu-text">Log-Out</span></a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="{% url 'auth:login' %}" class="btn text-white"><i
                                                    class="fa-solid fa-arrow-right-to-bracket me-2"></i><span
                                                    class="menu-text">Log-In</span></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            <div class="col-2 fixed-bottom justify-content-start github-link mb-2">
                                <a href="https://github.com/Rajeshkumar-14" target="_blank"
                                    class="text-decoration-none text-light">
                                    <i class="fa-brands fa-github fa-lg me-2"></i>RajeshKumar</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

            {% endblock side-bar %}

            {% block right-side %}

            <div class="col-10 right-side">

                <!-- Administration -->

                {% block administration %}

                {% endblock administration %}

                <!-- Bus Index -->
                {% block bus-index %}

                {% endblock bus-index %}

                <!-- Bus History -->
                {% block bus-history %}

                {% endblock bus-history %}

                <!-- Bus Travel History -->
                {% block bus-travel-history %}

                {% endblock bus-travel-history %}

                <!-- Flight Index -->
                {% block flight-index %}

                {% endblock flight-index %}

                <!-- Flight History -->
                {% block flight-history %}

                {% endblock flight-history %}

                <!-- Flight Travel History -->
                {% block flight-travel-history %}

                {% endblock flight-travel-history %}

                <!-- Train Index -->
                {% block train-index %}

                {% endblock train-index %}

                <!-- Train History -->
                {% block train-history %}

                {% endblock train-history %}

                <!-- Train Travel History -->
                {% block train-travel-history %}

                {% endblock train-travel-history %}

                <!-- Support Admin -->
                {% block support-admin %}

                {% endblock support-admin %}

                <!-- Admin Profile Detail -->
                {% block admin-profile %}

                {% endblock admin-profile %}

                <!-- Admin Profile Details -->
                {% block edit-admin-profile %}

                {% endblock edit-admin-profile %}

            </div>
            {% endblock right-side %}
        </div>
    </div>
    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- BootStrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Popper.js (required for dropdowns) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>


    <!-- Include Sweetalert CDN Link -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom CSS -->
    <script src="{% static 'core/js/core-script.js' %}"></script>

    <!-- Datatable -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Scripts from other pages -->
    {% block script %}
    {% endblock %}
</body>

</html>
